/* common */

:root {
  --primary-color: #cb9e76;
  --secondary-color: #2F3338;
  --primary-font-family: "Raleway", sans-serif;
  --secondary-font-family: "Made The Artist";
  --coff-desk: 19.2;
}

html,
body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

@font-face {
  font-family: "Made The Artist";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/MADE-THEARTIST-SCRIPT-PERSONAL-USE.OTF") format("otf"),
    url("./fonts/MADE-THEARTIST-SCRIPT-PERSONAL-USE.ttf") format("ttf"),
    url("./fonts/MADE-THEARTIST-SCRIPT-PERSONAL-USE.woff") format("woff"),
    url("./fonts/MADE-THEARTIST-SCRIPT-PERSONAL-USE.woff2") format("woff2");
}

.primary-title {
  font-family: var(--primary-font-family);
  font-size: 5vw;
  font-weight: 300;
  margin-bottom: 50px;
  position: relative;
  color: var(--secondary-color)
}

.primary-title:after {
  position: absolute;
  right: 50px;
  top: 0;
  font-family: var(--secondary-font-family);
  font-size: 5vw;
  color: var(--primary-color);
  position: relative;
}

/* common */

/**/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.header__wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 135px;
  height: 92px;
  background-image: url('/images/logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.header__left {
  display: flex;
}

.header__left .header__link-text {
  text-transform: uppercase;
}

.header__link-text {
  font-family: var(--primary-font-family);
  color: #fff;
  text-decoration: none;
}

.header__burger-btn {
  display: flex;
  margin-right: 60px;
}

.header__burger-icon {
  margin-right: 12px;
  position: relative;
  display: block;
  width: 25px;
  border-bottom: 1px solid #fff;
}

.header__burger-icon:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.header__burger-icon:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.header__right {
  display: flex;
}

.header__right .header__link-text {
  margin-right: 25px;
}

.header__icons {
  display: block;
  width: 31px;
  height: 28px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.header__fav {
  background-image: url("data:image/svg+xml,%3Csvg width='33' height='30' viewBox='0 0 33 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.26995 3.40204C2.55029 4.16357 1.97942 5.06765 1.58994 6.06264C1.20046 7.05764 1 8.12406 1 9.20104C1 10.278 1.20046 11.3444 1.58994 12.3394C1.97942 13.3344 2.55029 14.2385 3.26995 15L16.5 29L29.7301 15C31.1835 13.462 32 11.3761 32 9.20104C32 7.02599 31.1835 4.94003 29.7301 3.40204C28.2767 1.86405 26.3054 1.00002 24.25 1.00002C22.1946 1.00002 20.2233 1.86405 18.7699 3.40204L16.5 5.80402L14.2301 3.40204C13.5105 2.6405 12.6561 2.03641 11.7158 1.62427C10.7756 1.21213 9.76779 1 8.75004 1C7.73229 1 6.72451 1.21213 5.78423 1.62427C4.84395 2.03641 3.9896 2.6405 3.26995 3.40204Z' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.header__account {
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.0743 23.8798L29.5416 23.7019L29.0743 23.8798ZM15.5 14.01V14.51V14.01ZM1.9258 23.8798L1.45851 23.7019L1.9258 23.8798ZM0.847479 28.8178L1.34633 28.8518L0.847479 28.8178ZM1.9608 29.9982V30.4982H1.9608L1.9608 29.9982ZM30.1526 28.8178L29.6537 28.8518L30.1526 28.8178ZM29.0393 29.9982V29.4982V29.9982ZM30.6514 28.7839C30.5328 27.0398 30.159 25.324 29.5416 23.7019L28.607 24.0576C29.1888 25.5862 29.5417 27.2049 29.6537 28.8518L30.6514 28.7839ZM29.5416 23.7019C28.7813 21.7046 27.666 19.8872 26.2575 18.3545L25.5211 19.0311C26.8413 20.4677 27.8905 22.1754 28.607 24.0576L29.5416 23.7019ZM26.2575 18.3545C24.8488 16.8217 23.1743 15.6033 21.3281 14.7712L20.9172 15.6828C22.6362 16.4577 24.2011 17.5947 25.5211 19.0311L26.2575 18.3545ZM21.3281 14.7712C19.4818 13.939 17.5013 13.51 15.5 13.51V14.51C17.3577 14.51 19.1983 14.9081 20.9172 15.6828L21.3281 14.7712ZM15.5 13.51C13.4988 13.51 11.5182 13.939 9.67194 14.7712L10.0829 15.6828C11.8018 14.9081 13.6424 14.51 15.5 14.51V13.51ZM9.67194 14.7712C7.82579 15.6033 6.15122 16.8217 4.74261 18.3545L5.47892 19.0311C6.79898 17.5947 8.36382 16.4577 10.0829 15.6828L9.67194 14.7712ZM4.74261 18.3545C3.33408 19.8872 2.21877 21.7046 1.45851 23.7019L2.39309 24.0576C3.10957 22.1754 4.15877 20.4677 5.47892 19.0311L4.74261 18.3545ZM1.45851 23.7019C0.84105 25.324 0.467283 27.0398 0.348632 28.7839L1.34633 28.8518C1.45836 27.2049 1.81122 25.5863 2.39309 24.0576L1.45851 23.7019ZM0.348632 28.7839C0.283966 29.7345 1.04533 30.4982 1.9608 30.4982V29.4982C1.60224 29.4982 1.32244 29.2029 1.34633 28.8518L0.348632 28.7839ZM29.6537 28.8518C29.6776 29.2029 29.3978 29.4982 29.0393 29.4982V30.4982C29.9547 30.4982 30.7161 29.7345 30.6514 28.7839L29.6537 28.8518ZM1.9608 30.4982L29.0393 30.4982V29.4982L1.9608 29.4982L1.9608 30.4982ZM21.7241 7.22414C21.7241 10.6616 18.9375 13.4483 15.5 13.4483V14.4483C19.4897 14.4483 22.7241 11.2139 22.7241 7.22414H21.7241ZM15.5 13.4483C12.0625 13.4483 9.27582 10.6616 9.27582 7.22414H8.27582C8.27582 11.2139 11.5102 14.4483 15.5 14.4483V13.4483ZM9.27582 7.22414C9.27582 3.78664 12.0625 1 15.5 1V0C11.5102 0 8.27582 3.23436 8.27582 7.22414H9.27582ZM15.5 1C18.9375 1 21.7241 3.78664 21.7241 7.22414H22.7241C22.7241 3.23436 19.4897 0 15.5 0V1Z' fill='white'/%3E%3C/svg%3E%0A");
}

.header__cart {
  background-image: url("data:image/svg+xml,%3Csvg width='37' height='32' viewBox='0 0 37 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.0222 13C11.8259 9 12.8466 1 18.4996 1C24.1526 1 25.1741 9 24.9778 13M3.12943 12.0228L1.01083 29.3931C0.906692 30.2469 1.56686 31 2.41945 31H34.5805C35.4331 31 36.0933 30.2469 35.9892 29.3931L33.8706 12.0228C33.7994 11.4389 33.3037 11 32.7155 11H4.2845C3.69633 11 3.20064 11.4389 3.12943 12.0228Z' stroke='white' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}

/**/

/**/

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.menu-white-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  background-color: #fff;
  z-index: 10;
}

.menu-trans-bg {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #CB9E76;
  opacity: 0.3;
  z-index: 9;
}

.menu__nav {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 11;
  height: 100vh;
}

.menu__li {
  list-style: none;
}

.menu__li a {
  font-family: var(--primary-font-family);
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 64px;
  font-weight: 200;
  text-transform: uppercase;
}

/**/

/* main begin */

.main {
  padding-top: 40vh;
  padding-bottom: 40vh;
  background-image: url("./images/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.main__title {
  font-size: 10vw;
  color: #cb9e76;
}

.main__title-first {
  font-family: var(--secondary-font-family);
  font-size: 15vw;
  line-height: 50%;
}

.main__title-second {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 300;
  line-height: 80%;
}

.main__text {
  font-family: var(--primary-font-family);
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  max-width: 505px;
}

.main__wrapper {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

/* main end */

/**/

.swiper {
  width: 100%;
  height: 100vh;
}

.nou-slide {
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-pagination-bullet {
  width: 35px !important;
  height: 35px !important  ;
  background-color: transparent !important;
  position: relative !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.swiper-pagination-bullet .inner-circle {
  r: 6.5;
  cx: 17.5;
  cy: 17.5;
  fill: #cb9e76;
}

.swiper-pagination-bullet .outer-circle {
  r: 17.5;
  cx: 17.5;
  cy: 17.5;
  fill: none;
  stroke: #cb9e76;
  stroke-width: 2;
  stroke-dasharray: 110;
  stroke-dashoffset: 110;
  transition: stroke-dashoffset 0.5s linear;
}

.swiper-pagination-bullet-active .outer-circle {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  0% {
    stroke-dashoffset: 110;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/**/

/**/

.replay {
  position: relative;
  padding-top: 425px;
}

.leaf {
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.replay-leaf-1 {
  top: 115px;
  left: 0;
  width: 261px;
  height: 152px;
  background-image: url('./images/leaves/replay-1.png');
}

.replay-leaf-2 {
  top: 115px;
  left: 230px;
  width: 196px;
  height: 180px;
  background-image: url('./images/leaves/replay-2.png');
}

.replay__title span {
  display: block;
  font-family: var(--primary-font-family);
  font-size: 121px;
  font-weight: 300;
  color: var(--secondary-color);
}

.replay__title .move {
  padding-left: 40px;
}

.replay_box-wrapper {
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(3, 423px);
  grid-template-rows: repeat(7, 121px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.replay_box {
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.replay_box-inner-wrapper {
  padding: 0 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.replay_box:hover .replay_box-plus {
  width: 200%;
  height: 200%;
  background-color: #2f3338c9;

}

.replay_box:hover .replay_box-plus:before {
  opacity: 0;
}

.replay_box:hover .replay_box-inner-text {
  opacity: 1;
}

.replay_box-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: var(--secondary-color);
    border-radius: 100%;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.replay_box-plus:before {
    content: '+';
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: all .3s ease-in-out;
}



.replay_box-inner-text {
  font-family: var(--primary-font-family);
  color: #fff;
  position: relative;
  z-index: 10;
  opacity: 0;
  transition: all .4s ease-in-out;
}

.replay_box1 {
  grid-area: 1 / 2 / 4 / 3;
  background-image: url("./images/rep-1.png");
}
.replay_box2 {
  grid-area: 2 / 1 / 5 / 2;
  background-image: url("./images/rep-4.png");
}
.replay_box3 {
  grid-area: 2 / 3 / 5 / 4;
  background-image: url("./images/rep-2.png");
}
.replay_box4 {
  grid-area: 4 / 2 / 7 / 3;
  background-image: url("./images/rep-3.png");
}

.replay_box2 {
  position: relative;
}

.replay_box2:before {
  content: "КОЖИ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translate(-12px, -50%);
  font-family: var(--primary-font-family);
  font-weight: 400;
  line-height: 100%;
  color: var(--secondary-color);
  font-size: 7.45vw;
}

.replay_box2:after {
  content: "КОЖИ";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  transform: translate(-12px, -50%);
  font-family: var(--primary-font-family);
  font-weight: 400;
  line-height: 100%;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 7.45vw;
}

.replay_box1 {
  position: relative;
}

.replay_box1:before {
  content: "СТРУКТУРУ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: calc(-100% - 38px);
  transform: translate(-12px, -50%);
  font-family: var(--primary-font-family);
  font-weight: 400;
  line-height: 100%;
  color: var(--secondary-color);
  font-size: 7.45vw;
}

.replay_box1:after {
  content: "СТРУКТУРУ";
  position: absolute;
  z-index: 2;
  top: 0;
  left: calc(-100% - 38px);
  transform: translate(-12px, -50%);
  font-family: var(--primary-font-family);
  font-weight: 400;
  line-height: 100%;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 7.45vw;
}

/**/

/**/

.main-slider {
  padding-bottom: 300px;
}

.main-slider-swiper {
  width: 100%;
  height: 500px;
}



.main-slider__title {
  font-family: var(--primary-font-family);
}

.main-slider__title:after {
  content: 'Bfn';
}

.main-slider-slide a {
  text-decoration: none;
}

.main-slider__img {
  width: 100%;
  height: 300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.main-slider-slide__title {
  padding-top: 10px;
  font-family: var(--primary-font-family);
  font-size: 20px;
  color: var(--secondary-color);
  border-top: 1px solid #CB9E76
}

.main-slider-swiper-button {
  width: 63px !important ;
  height: 63px !important ;
  border: 1px solid var(--secondary-color);
  border-radius: 100%;
  top: 80% !important;
  bottom: 0 !important;

}

.main-slider-swiper-button-prev {
  left: 50% !important;
  transform: translateX(-100%);
}

.main-slider-swiper-button-next {
  left: 50% !important;
  transform: translateX(100%);
}

.main-slider-swiper-button:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.main-slider-swiper-button-prev:before {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8015 4.34445H6.3436H0.885681M0.885681 4.34445L4.39709 7.93108M0.885681 4.34445L4.39709 0.757812' stroke='%232F3338'/%3E%3C/svg%3E%0A");
}

.main-slider-swiper-button-next:before {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.885674 4.34305L6.34359 4.34305L11.8015 4.34305M11.8015 4.34305L8.2901 0.756422M11.8015 4.34305L8.2901 7.92969' stroke='%232F3338'/%3E%3C/svg%3E%0A");
}

.main-slider-swiper-button:after {
  display: none;
}

/**/

/**/

.main-list {
  padding-bottom: 300px;
}

.main-list__title:after {
  content: 'свой уход'
}

.main-list__subtitle {
  font-family: var(--primary-font-family);
  color: var(--secondary-color);
  font-size: 18px;
  max-width: 530px;
  margin-bottom: 102px;
}

.main-list__ol {
  position: relative;
  counter-reset: main-list-counter;
  list-style: none;
  padding: 0;
}

.main-list__ol::before {
  content: '';
  position: absolute;
  bottom: -97px;
  left: -160px;
  width: 750px;
  height: 800px;
  background-image: url('./images/main-list-bg.png');
  background-size: cover;
  background-position: center;
}

.main-list__li {
  width: 85%; 
  margin-bottom: 80px;
  position: relative;
  counter-increment: main-list-counter;
  font-family: var(--primary-font-family);
  font-size: 64px;
  font-weight: 200;
  color: var(--secondary-color);
  text-transform: uppercase;
  text-align: left;
}

.main-list__li span {
  display: block;
  text-align: right;
}

.main-list__li::before {
  content: "0" counter(main-list-counter) ".";
  position: absolute;
  left: 0;
  top: 0;
  font-family: var(--secondary-font-family);
}

/**/

/**/

.blog__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 4.16vw
}

@media(min-width: 576px) {
  .blog__wrapper {
      gap:2.21vw
  }
}

@media(min-width: 1200px) {
  .blog__wrapper {
      height:calc(1554vw/var(--coff-desk))
  }
}

.blog__item {
  background-color: pink;
  border: 1px solid #000;
  cursor: pointer;
  position: relative;
  aspect-ratio: 1/1;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: .6em;
  line-height: 1.4;
  flex: 0 0 calc(50% - 4.16vw)
}

.blog__item:nth-child(3n+1) {
  flex: 0 0 calc(100% - 4.16vw)
}

@media(min-width: 576px) {
  .blog__item,.blog__item:nth-child(3n+1) {
      flex:0 0 calc(33.333% - 2.21vw)
  }
}

@media(min-width: 1200px) {
  .blog__item {
      position:absolute;
      padding: .9em;
      flex: 0 0 auto
  }

  .blog__item:nth-child(3n+1) {
      flex: 0 0 auto
  }
}

@media(min-width: 1px) {
  .blog__item {
      font-size:calc(16vw/4.79)
  }
}

@media(min-width: 480px) {
  .blog__item {
      font-size:calc(16vw/4.8)
  }
}

@media(min-width: 576px) {
  .blog__item {
      font-size:calc(14vw/7.67)
  }
}

@media(min-width: 768px) {
  .blog__item {
      font-size:calc(14vw/7.68)
  }
}

@media(min-width: 864px) {
  .blog__item {
      font-size:calc(14vw/8.64)
  }
}

@media(min-width: 1200px) {
  .blog__item {
      font-size:calc(28vw/19.2)
  }
}

@media(min-width: 1920px) {
  .blog__item {
      font-size:calc(28vw/19.2)
  }
}

@media(min-width: 1200px) {
  .blog__item:first-child {
      width:calc(530vw/var(--coff-desk));
      top: calc(0vw/var(--coff-desk));
      left: calc(0vw/var(--coff-desk))
  }

  .blog__item:nth-child(2) {
      width: calc(625vw/var(--coff-desk));
      top: calc(0vw/var(--coff-desk));
      left: calc(565vw/var(--coff-desk))
  }

  .blog__item:nth-child(3) {
      width: calc(375vw/var(--coff-desk));
      top: calc(250vw/var(--coff-desk));
      left: calc(1225vw/var(--coff-desk))
  }

  .blog__item:nth-child(4) {
      width: calc(345vw/var(--coff-desk));
      top: calc(565vw/var(--coff-desk));
      left: calc(185vw/var(--coff-desk))
  }

  .blog__item:nth-child(6) {
      width: calc(894vw/var(--coff-desk));
      top: calc(660vw/var(--coff-desk));
      left: calc(565vw/var(--coff-desk))
  }

  .blog__item:nth-child(5) {
      width: calc(530vw/var(--coff-desk));
      top: calc(945vw/var(--coff-desk));
      left: calc(0vw/var(--coff-desk))
  }
}

/**/

/**/



/**/
