/* common */

:root {
  --primary-color: #cb9e76
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

@font-face {
  font-family: "Made The Artist";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/MADE-THEARTIST-SCRIPT-PERSONAL-USE.OTF") format("otf"),
    url("./fonts/MADE-THEARTIST-SCRIPT-PERSONAL-USE.ttf") format("ttf"),
    url("./fonts/MADE-THEARTIST-SCRIPT-PERSONAL-USE.woff") format("woff"),
    url("./fonts/MADE-THEARTIST-SCRIPT-PERSONAL-USE.woff2") format("woff2");
}

/* common */

/* main begin */

.main {
  padding-top: 40vh;
  padding-bottom: 40vh;
  background-image: url("./images/main-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.main__title {
  font-size: 10vw;
  color: #cb9e76;
}

.main__title-first {
  font-family: "Made The Artist";
  font-size: 15vw;
  line-height: 50%;
}

.main__title-second {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 80%;
}

.main__text {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  max-width: 505px;
}

.main__wrapper {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

/* main end */

/**/

.swiper {
  width: 100%;
  height: 100vh;
}

.nou-slide {
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-pagination-bullet {
  width: 35px !important;
  height: 35px !important  ;
  background-color: transparent !important;
  position: relative !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.swiper-pagination-bullet .inner-circle {
  r: 6.5;
  cx: 17.5;
  cy: 17.5;
  fill: #cb9e76;
}

.swiper-pagination-bullet .outer-circle {
  r: 17.5;
  cx: 17.5;
  cy: 17.5;
  fill: none;
  stroke: #cb9e76;
  stroke-width: 2;
  stroke-dasharray: 110;
  stroke-dashoffset: 110;
  transition: stroke-dashoffset 0.5s linear;
}

.swiper-pagination-bullet-active .outer-circle {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  0% {
    stroke-dashoffset: 110;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/**/

/**/

.replay {
}

.replay__title span {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 121px;
  font-weight: 300;
  color: #000;
}

.replay__title .move {
  padding-left: 40px;
}

.replay_box-wrapper {
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(3, 423px);
  grid-template-rows: repeat(7, 121px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.replay_box {
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.replay_box-inner-wrapper {
  padding: 0 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.replay_box:hover .replay_box-plus {
  width: 200%;
  height: 200%;
  background-color: #2f3338c9;

}

.replay_box:hover .replay_box-plus:before {
  opacity: 0;
}

.replay_box:hover .replay_box-inner-text {
  opacity: 1;
}

.replay_box-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: #2F3338;
    border-radius: 100%;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.replay_box-plus:before {
    content: '+';
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: all .3s ease-in-out;
}



.replay_box-inner-text {
  font-family: "Raleway", sans-serif;
  color: #fff;
  position: relative;
  z-index: 10;
  opacity: 0;
  transition: all .4s ease-in-out;
}

.replay_box1 {
  grid-area: 1 / 2 / 4 / 3;
  background-image: url("./images/rep-1.png");
}
.replay_box2 {
  grid-area: 2 / 1 / 5 / 2;
  background-image: url("./images/rep-4.png");
}
.replay_box3 {
  grid-area: 2 / 3 / 5 / 4;
  background-image: url("./images/rep-2.png");
}
.replay_box4 {
  grid-area: 4 / 2 / 7 / 3;
  background-image: url("./images/rep-3.png");
}

.replay_box2 {
  position: relative;
}

.replay_box2:before {
  content: "КОЖИ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translate(-12px, -50%);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 100%;
  color: #000;
  font-size: 7.45vw;
}

.replay_box2:after {
  content: "КОЖИ";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  transform: translate(-12px, -50%);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 100%;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 7.45vw;
}

.replay_box1 {
  position: relative;
}

.replay_box1:before {
  content: "СТРУКТУРУ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: calc(-100% - 38px);
  transform: translate(-12px, -50%);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 100%;
  color: #000;
  font-size: 7.45vw;
}

.replay_box1:after {
  content: "СТРУКТУРУ";
  position: absolute;
  z-index: 2;
  top: 0;
  left: calc(-100% - 38px);
  transform: translate(-12px, -50%);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 100%;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 7.45vw;
}

/**/

/**/

.main-slider-swiper {
  width: 100%;
  height: 500px;
}

.main-slider__title {
  font-family: "Raleway", sans-serif;
  font-size: 5vw;
  font-weight: 300;
  margin-bottom: 50px;
  position: relative;
}

.main-slider__title:after {
  content: 'Bfn';
  position: absolute;
  right: 50px;
  top: 0;
  font-family: "Made The Artist";
  font-size: 4.5vw;
  color: var(--primary-color);
  position: relative;
}

.main-slider-slide a {
  text-decoration: none;
}

.main-slider__img {
  width: 100%;
  height: 300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.main-slider-slide__title {
  padding-top: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #000;
  border-top: 1px solid #CB9E76
}

.main-slider-swiper-button {
  width: 63px !important ;
  height: 63px !important ;
  border: 1px solid #000;
  border-radius: 100%;
  top: 80% !important;
  bottom: 0 !important;

}

.main-slider-swiper-button-prev {
  left: 50% !important;
  transform: translateX(-100%);
}

.main-slider-swiper-button-next {
  left: 50% !important;
  transform: translateX(100%);
}

.main-slider-swiper-button:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.main-slider-swiper-button-prev:before {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8015 4.34445H6.3436H0.885681M0.885681 4.34445L4.39709 7.93108M0.885681 4.34445L4.39709 0.757812' stroke='%232F3338'/%3E%3C/svg%3E%0A");
}

.main-slider-swiper-button-next:before {
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.885674 4.34305L6.34359 4.34305L11.8015 4.34305M11.8015 4.34305L8.2901 0.756422M11.8015 4.34305L8.2901 7.92969' stroke='%232F3338'/%3E%3C/svg%3E%0A");
}

.main-slider-swiper-button:after {
  display: none;
}

/**/
